<%= stylesheet_link_tag "form" %>
<div class="form">
<%= form_for @post do |f| %>
    <p>
        <%= f.label :title ,class:"field"%>
        <%= f.text_field :title,class:"field" %>
    </p>
    <p>
        <%= f.label :text,class: "field" %>
        <%= f.text_area :text,class: "field area" %>
    </p>
    <p>
        <%= f.label :image, class: "field" %>
        <%= f.text_area :image,class: "field" %>
    </p>
    <p>
        <%= f.submit 'Create' , :class => "submit_btn" %>
    </p>
<% end %>
</div>