<%= stylesheet_link_tag "posts" %>
<div class="posts">
    <% @posts.each do |post| %>
    <div class="post_container">
        <div class="post_title">
            <p class="title"><%= post.title%></p>
            <p class="date"><%= post.created_at.strftime("%b %d, %y") %></p>
        </div>
        <div class="post_text">
            &nbsp;&nbsp;&nbsp;&nbsp;<%= truncate(post.text, length: 1200, ommision: "..") %>
        </div>
        <div class="post_footer">
            
            <%= button_to "Read More", post_path(post), class:"more_btn", :method => :get %>
        </div>
    </div>
    <% end %>
</div>