<%= stylesheet_link_tag "posts" %>
<div class="topics">
    <% @topics.each do |topic| %>
    <div class="topic">
       <%= link_to topic.title, topic_path(topic),class: "topic_title" %>
    </div>
    <% end %>
</div>
<div class="posts">
    <% @posts.each do |post| %>
    <div class="post_container">
        <div class="post_header">
            <div class="title"><%= post.title %></div>
            <div class="tags">
                <% if post.created_at > 1.month.ago %>
                <div class="tag red">NEW</div>
                <% end %>
                <div class="tag"><%= post.created_at.strftime("%b %d, %y") %></div>
            </div>
        </div>
        <div class="post_text">
            <%= truncate(post.text, length: 1200, ommision: "..") %>
        </div>
        <div class="post_footer">
            
            <%= button_to "Read More", post_path(post), class:"more_btn", :method => :get %>
        </div>
    </div>
    <% end %>
</div>