<h1>Create a new Post</h1>
<%= stylesheet_link_tag "form" %>
<div class="form">
<%= form_for @post do |f| %>
    <p>
        <%= f.label :title ,class:"field"%>
        <%= f.text_field :title,class:"field" %>
    </p>
    <p>
        <%= f.label :text,class: "field" %>
        <%= f.text_area :text,class: "field area" %>
    </p>
    <p>
        <%= f.label :image, class: "field" %>
        <%= f.text_field :image,class: "field" %>
    </p>
     <p>
        <%= f.label :topic_id, class: "field" %>
        <%= f.select :topic_id, options_from_collection_for_select(Topic.all, "id", "title"),include_blank: "none" %>
    </p>
    <p>
        <%= f.submit 'Create' , :class => "submit_btn" %>
    </p>
<% end %>
</div>