<%= stylesheet_link_tag "show" %>
<div class="post">
<h1 class="show_title">
    <%= @post.title %>
</h1>
<p class="show_text">
    &nbsp;&nbsp;&nbsp;&nbsp;<%= @post.text %>
</p>
</div>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), :method => :delete %>