<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="author" content="Devin Miller">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- [if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
    </script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <%= stylesheet_link_tag "header" %>
  <header>
    <div><%= link_to 'Devin Miller', root_url , class: "home" %></div>
    <% if logged_in? %>
      <p class="username"><%= current_user.username %></p>
      <p class="logout"><%= link_to "log out", logout_path , :method => :delete%></p>
    <% end %>
      <%= render 'posts/link' %>
  </header>
  <div id="main">
  <%= yield %>
  </div>
  </br>
  <footer>
    <p><%= link_to 'Home', root_url , class: "home" %></p>
    <p class="copy">Copyright &copy; Devin Miller 2016</p>
  </footer>
</div>
</body>
</html>
